<div class="vs-kanban-board" cdkDropListGroup>
    <div *ngIf="headerTemplate" class="vs-kanban-header">
        <ng-template [ngTemplateOutlet]="headerTemplate"></ng-template>
    </div>
    <div class="vs-kanban-list-wrapper">
        <div *ngFor="let list of lists; trackBy: listTrackBy" class="vs-kanban-list-container">
            <vs-kanban-list [service]="service" [list]="list" [listHeaderTemplate]="listHeaderTemplate"
                [listFooterTemplate]="listFooterTemplate" [cardHeaderTemplate]="cardHeaderTemplate"
                [cardBodyTemplate]="cardBodyTemplate" [cardFooterTemplate]="cardFooterTemplate"
                [cardDragPlaceholderTemplate]="cardDragPlaceholderTemplate" [cardSize]="cardSize" [pageSize]="pageSize">
            </vs-kanban-list>
        </div>
    </div>
    <div *ngIf="footerTemplate" class="vs-kanban-footer">
        <ng-template [ngTemplateOutlet]="footerTemplate"></ng-template>
    </div>
</div>