app-example-input {
  .button-container {
    display: flex;
    flex-flow: row wrap;
  }

  .button-container button {
    margin: 4px 16px;
  }

  .button-container *:not(button) {
    width: 100%;
  }
}
