$card-vertical-gap: 6px; // CRM <= 5
$card-internal-gap: 8px;
$card-background-color: #fff;
$card-color: #000;
$card-box-shadown: 5px 5px 15px 0px #aaa;
$card-border-radius: 4px;
vs-kanban-card {
  
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $card-background-color;
  color: $card-color;
  border-radius: $card-border-radius;
  margin-top: $card-vertical-gap;
  padding: $card-internal-gap;
  > .vs-kanban-header {
  }

  > .vs-kanban-body {
  }

  > .vs-kanban-footer {
  }
}
vs-kanban-card.vs-kanban-cdk-drag-dragging {
  padding: 0;
}
vs-kanban-card.cdk-drag-preview {
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: $card-box-shadown;
  -moz-box-shadow: $card-box-shadown;
  box-shadow: $card-box-shadown;
}