$workflow-padding: 4px;
$items-padding: 16px;
$last-item-padding: 8px;

@mixin end-line() {
  $end-line-width: 50%;
  $end-line-height: 1px;
  $end-line-color: #e5e5e5;
  app-workflow-item:last-of-type .container {
    .info {
      padding-bottom: $last-item-padding;
    }
    .icon-container:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc((100% - #{$end-line-width}) / 2);
      right: calc((100% - #{$end-line-width}) / 2);
      height: $end-line-height;
      background-color: $end-line-color;
      border-radius: $end-line-height;
    }
  }
}

:host ::ng-deep {
  overflow: auto;
  padding: $workflow-padding;
  app-workflow-item {
    display: flex;
  }
  // Padding between items
  app-workflow-item:not(:last-of-type) .container > .info {
    padding-bottom: $items-padding;
  }
  // TODO: Fix !important
  app-workflow {
    padding-top: 16px !important;
  }
}
:host.has-final {
  & ::ng-deep {
    @include end-line();
  }
}
