$workflow-padding: 4px;
$items-padding: 16px;

:host ::ng-deep {
  padding: $workflow-padding;
  // Padding between items
  app-workflow-item:not(:last-of-type) .container > .info {
    padding-bottom: $items-padding;
  }
  // End Line
  $end-line-width: 50%;
  $end-line-height: 4px;
  $end-line-color: #e5e5e5;
  app-workflow-item:last-of-type .container > .workflow-icon-container:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc((100% - #{$end-line-width}) / 2);
    right: calc((100% - #{$end-line-width}) / 2);
    height: $end-line-height;
    background-color: $end-line-color;
    border-radius: $end-line-height;
  }
}
