<div *ngIf="item" class="container" [ngClass]="{'placeholder': item.isPlaceholder, active: item.isActive}">
  <div class="icon-container">
    <button class="icon" matRipple [matRippleDisabled]="!item.isPlaceholder"
      [style.background-color]="item.iconBackgroundColor" (click)="item.iconCallback && item.iconCallback(item)"
      [ngClass]="{'clickable' : item.iconCallback && item.hasIconAnimation}" [disabled]="!item.iconCallback">
      {{item.icon}}
    </button>
  </div>
  <div class="info">
    <div class="header">
      <h3 class="text" (click)="item.titleCallback && item.titleCallback(item)">{{item.title}}</h3>
    </div>
    <div class="body">{{item.body}}</div>
    <div class="footer">{{item.footer}}</div>
    <app-workflow *ngIf="item.children && item.children.length > 0" [items]="item.children"></app-workflow>
  </div>
</div>
