$placeholder-icon-opacity: 0.3;
$placeholder-info-opacity: 0;
$placeholder-hover-opacity: 0.9;
$placeholder-opacity-time: 250ms;
$placeholder-padding-bottom: 24px;

@mixin placeholder-opacity($is-hovered: false) {
  @if $is-hovered {
    opacity: $placeholder-hover-opacity;
  } @else {
    opacity: $placeholder-icon-opacity;
    transition: opacity $placeholder-opacity-time;
  }
}

.container.placeholder {
  .icon-container .icon {
    @include placeholder-opacity();
    cursor: pointer;
  }
  .info {
    @include placeholder-opacity();
    padding-bottom: $placeholder-padding-bottom;
  }
}
.container.placeholder:hover {
  .icon-container .icon.clickable,
  .info {
    @include placeholder-opacity(true);
  }
}
.container.placeholder .icon-container .icon.clickable:focus {
  @include placeholder-opacity(true);
}
