h3 {
  margin: 0;
}

$container-padding: 4px;
$icon-container-width: 15%;

$icon-border: 1px solid #cacaca;
$icon-size: 24px;

$line-weight: 4px;
$line-color: #e5e5e5;

$info-padding-left: 16px;
$info-body-max-height: 120px;

@mixin no-user-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 $container-padding;
  .workflow-icon-container {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    position: relative;
    max-width: $icon-container-width;
    .workflow-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $container-padding;
      min-width: $icon-size;
      width: $icon-size;
      max-width: $icon-size;
      min-height: $icon-size;
      height: $icon-size;
      max-height: $icon-size;
      background-color: #ffffff;
      border: $icon-border;
      border-radius: 50%;
      z-index: 2;
      cursor: context-menu;
      @include no-user-select();
    }
    &:before {
      $line-remove-icon-size: #{$icon-size + ($container-padding * 2)};
      content: "";
      position: absolute;
      width: $line-weight;
      background-color: $line-color;
      top: $line-remove-icon-size;
      bottom: 0;
      left: calc(50% - #{$line-weight / 2});
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding-top: $container-padding;
    padding-left: $info-padding-left;
    overflow: auto;
    .body {
      display: auto;
      flex: initial;
      max-height: $info-body-max-height;
      overflow-y: auto;
      margin: $container-padding 0;
    }
    // Ellipsis for long headers
    .header h3 {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }
    .header,
    .footer {
      display: flex;
      flex: initial;
    }
  }

  &.placeholder {
    .workflow-icon-container {
      .workflow-icon {
        cursor: pointer;
      }
    }
  }
}
