$placeholder-icon-opacity: 0.3;
$placeholder-info-opacity: 0;
$placeholder-hover-opacity: 0.9;
$placeholder-opacity-time: 0.25s;

.container.placeholder {
  .workflow-icon-container {
    opacity: $placeholder-icon-opacity;
    transition: opacity $placeholder-opacity-time;
    .workflow-icon {
      cursor: pointer;
    }
  }
  .info {
    opacity: $placeholder-info-opacity;
    transition: opacity $placeholder-opacity-time;
  }
}
.container.placeholder:hover {
  .workflow-icon-container {
    opacity: $placeholder-hover-opacity;
    .workflow-icon {
      cursor: pointer;
    }
  }
  .info {
    opacity: $placeholder-hover-opacity;
  }
}
