<div class="vs-kanban-header">
  <ng-template [ngTemplateOutlet]="listHeaderTemplate || listHeaderDefaultTemplate"
    [ngTemplateOutletContext]="{list: list}">
  </ng-template>
</div>
<cdk-virtual-scroll-viewport *ngIf="dataSource && !isLoading" [itemSize]="cardSize" class="vs-kanban-content"
  [id]="list.id || list.title" cdkDropList [cdkDropListData]="list" (cdkDropListDropped)="dropCard($event)">
  <div class="vs-kanban-no-content" *ngIf="noContent">Sem Resultados</div>
  <!-- 
    # TODO Added in Angular 8
    [cdkDragStartDelay]="cardDragDelay"
  -->
  <div *cdkVirtualFor="let card of dataSource; trackBy: cardTrackBy" cdkDrag [cdkDragData]="card"
    [ngClass]="{'draggable': !card || card.canMove}" [cdkDragDisabled]="card && !card.canMove">
    <vs-kanban-card *ngIf="card" [card]="card" [cardHeaderTemplate]="cardHeaderTemplate"
      [cardBodyTemplate]="cardBodyTemplate" [cardFooterTemplate]="cardFooterTemplate"
      [cardDragPlaceholderTemplate]="cardDragPlaceholderTemplate">
    </vs-kanban-card>
  </div>
</cdk-virtual-scroll-viewport>
<div *ngIf="isLoading">
  Loading...
</div>
<div *ngIf="listFooterTemplate" class="vs-kanban-footer">
  <ng-template [ngTemplateOutlet]="listFooterTemplate" [ngTemplateOutletContext]="{list: list}">
  </ng-template>
</div>

<ng-template #listHeaderDefaultTemplate let-list="list">
  <div class="vs-kanban-list-header">
    <h3 class="vs-kanban-info">
      <!-- <vs-icon model="aux_title" *ngIf="list.icon" [icon]="list.icon"></vs-icon> -->
      {{list.title}}
    </h3>
    <div *ngIf="list.hasAddAction || list.hasDeleteAction">
      <!-- <vs-button model="icon" (click)="listAdd(list)" icon="plus" *ngIf="list.hasAddAction"></vs-button>
      <vs-button model="icon" (click)="listDelete(list)" icon="trash-alt" *ngIf="list.hasDeleteAction"></vs-button> -->
    </div>
  </div>
</ng-template>