app-root {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  > app-examples {
    display: flex;
    flex: 100%;
    flex-direction: column;
    max-height: 100%;
    > mat-tab-group {
      flex: 1;
      height: 100%;
      > .mat-tab-body-wrapper {
        flex: 1;
        padding: 2px 8px;
      }
    }
  }
}

app-root {
  & > div {
    display: flex;
    flex: auto;
    > app-workflow {
      display: flex;
      flex: 2;
      flex-direction: column;
    }
    > div {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
