<h3>Basic Button <small style="font-weight: normal;">com .app-button-column</small></h3>
<div class="app-button-column">
    <app-button label="Basic 1" model="basic"></app-button>
    <app-button label="Basic -1" model="basic" [tabIndex]="-1"></app-button>
    <app-button label="Basic 2" model="basic" color="primary"></app-button>
    <app-button label="Basic 3" model="basic" color="accent"></app-button>
    <app-button label="Basic 4" model="basic" color="warn"></app-button>
    <app-button label="Basic 5" model="basic" [disabled]="true"></app-button>
</div>
<h3>Raised Button <small style="font-weight: normal;">com .app-button-row</small></h3>
<div class="app-button-row">
    <app-button label="Raised 1" model="raised"></app-button>
    <app-button label="Raised -1" model="raised" [tabIndex]="-1"></app-button>
    <app-button label="Raised 2" model="raised" color="primary"></app-button>
    <app-button label="Raised 3" model="raised" color="accent"></app-button>
    <app-button label="Raised 4" model="raised" color="warn"></app-button>
    <app-button label="Raised 5" model="raised" [disabled]="true"></app-button>
</div>
<h3>Stroked Button</h3>
<div>
    <app-button label="Stroked 1" model="stroked"></app-button>
    <app-button label="Stroked -1" model="stroked" [tabIndex]="-1"></app-button>
    <app-button label="Stroked 2" model="stroked" color="primary"></app-button>
    <app-button label="Stroked 3" model="stroked" color="accent"></app-button>
    <app-button label="Stroked 4" model="stroked" color="warn"></app-button>
    <app-button label="Stroked 5" model="stroked" [disabled]="true"></app-button>
</div>
<h3>Flat Button</h3>
<div>
    <app-button label="Flat 1" model="flat"></app-button>
    <app-button label="Flat -1" model="flat" [tabIndex]="-1"></app-button>
    <app-button label="Flat 2" model="flat" color="primary"></app-button>
    <app-button label="Flat 3" model="flat" color="accent"></app-button>
    <app-button label="Flat 4" model="flat" color="warn"></app-button>
    <app-button label="Flat 5" model="flat" [disabled]="true"></app-button>
</div>
<h3>Icon Button</h3>
<div>
    <app-button icon="edit"></app-button>
    <app-button icon="save" [tabIndex]="-1"></app-button>
    <app-button icon="edit" color="primary"></app-button>
    <app-button icon="edit" color="accent"></app-button>
    <app-button icon="edit" color="warn"></app-button>
    <app-button icon="edit" model="icon" [disabled]="true"></app-button>
</div>
<h3>Fab Button</h3>
<div>
    <app-button label="Fab 1" model="fab"></app-button>
    <app-button label="Fab -1" model="fab" [tabIndex]="-1"></app-button>
    <app-button label="Fab 2" model="fab" color="primary"></app-button>
    <app-button label="Fab 3" model="fab" color="accent"></app-button>
    <app-button label="Fab 4" model="fab" color="warn"></app-button>
    <app-button label="Fab 5" model="fab" [disabled]="true"></app-button>
</div>
<h3>Mini Fab Button</h3>
<div>
    <app-button label="1" model="mini_fab"></app-button>
    <app-button label="-1" model="mini_fab" [tabIndex]="-1"></app-button>
    <app-button label="2" model="mini_fab" color="primary"></app-button>
    <app-button label="3" model="mini_fab" color="accent"></app-button>
    <app-button label="4" model="mini_fab" color="warn"></app-button>
    <app-button label="5" model="mini_fab" [disabled]="true"></app-button>
</div>