@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// #region Components
@import "./app/fields.theme.scss";
// #enregion Components

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "QuickSand", "sans-serif";
}
